body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u1243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:204px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
.u1244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:204px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u1244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1246 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:12px;
  width:179px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1246 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
  text-align:right;
}
.u1247 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
  text-align:right;
}
.u1247 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1248 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:44px;
  width:179px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1248 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1249 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:44px;
  width:96px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1249 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1249_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1250 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:76px;
  width:179px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1250 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1251 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:76px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1251 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1251_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1252 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:108px;
  width:179px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1252 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1253 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:108px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1253 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1253_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1254 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:140px;
  width:179px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1254 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1255 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:140px;
  width:108px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1255 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1255_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:179px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1256 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:172px;
  width:179px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1256 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1257 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:172px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1257 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1257_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u1258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:204px;
  width:370px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u1258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:75px;
  width:370px;
  height:2160px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
}
#u1259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1260_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1260_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 0.4392156862745098);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1262_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1262 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:32px;
  width:191px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1262 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1263 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1264 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:35px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1264 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1265 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:43px;
  width:6px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1265 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u1265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1266 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1267 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1267_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1268 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1269 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1270 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:4px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u1270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1271 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:5px;
  width:21px;
  height:10px;
  display:flex;
  transition:none;
}
#u1271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u1271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1272 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:4px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u1272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u1273 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:30px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u1273 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1273_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
