body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
.u1030 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:172px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
.u1031 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:172px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u1031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u1032 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u1033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1033 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:12px;
  width:275px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1033 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
  text-align:right;
}
.u1034 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:12px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
  text-align:right;
}
.u1034 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1034_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1035 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:44px;
  width:275px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1035 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1036 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:44px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1036 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1036_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#0052D9;
  text-align:right;
}
.u1037 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:76px;
  width:275px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#0052D9;
  text-align:right;
}
.u1037 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1038_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1038 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:76px;
  width:72px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1038 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1038_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1039_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1039 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:108px;
  width:275px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1039 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1040 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:108px;
  width:60px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1040 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1040_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1041_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:right;
}
.u1041 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:140px;
  width:275px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:right;
}
.u1041 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u1042_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1042 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:140px;
  width:48px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#3F3F46;
}
.u1042 .text {
  position:absolute;
  align-self:center;
  padding:0px 24px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u1042_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u1043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:12px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
.u1043 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:172px;
  width:370px;
  height:12px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
.u1043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u1043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1029 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:75px;
  width:370px;
  height:3680px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
}
#u1044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1045_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1046_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 0.4392156862745098);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1046 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1047_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1047 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:32px;
  width:191px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u1047 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1048 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1049 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:35px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1049 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1050 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:43px;
  width:6px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u1050 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u1050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u1050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1052 {
  position:fixed;
  left:0px;
  top:0px;
}
#u1052_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1052_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1053 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u1054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u1054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1055 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:4px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u1055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u1055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1056 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:5px;
  width:21px;
  height:10px;
  display:flex;
  transition:none;
}
#u1056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u1056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1057 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:4px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u1057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u1057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u1058 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:30px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u1058 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1058_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
