body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5896 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5896_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5896_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 0.4392156862745098);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:64px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5898 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:32px;
  width:191px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  text-align:right;
}
#u5898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5900 {
  border-width:0px;
  position:absolute;
  left:7px;
  top:35px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.600000024;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u5900 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5901 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:43px;
  width:6px;
  height:10px;
  display:flex;
  transition:none;
  font-family:"PingFang SC", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:22px;
}
#u5901 .text {
  position:absolute;
  align-self:center;
  padding:0px 16px 0px 16px;
  box-sizing:border-box;
  width:100%;
}
#u5901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:10px;
}
#u5901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5903 {
  position:fixed;
  left:0px;
  top:0px;
}
#u5903_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5903_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  background:inherit;
  background-color:rgba(242, 242, 242, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:20px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5906 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:4px;
  width:12px;
  height:12px;
  display:flex;
  transition:none;
}
#u5906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u5906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5907 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:5px;
  width:21px;
  height:10px;
  display:flex;
  transition:none;
}
#u5907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:10px;
}
#u5907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5908 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:4px;
  width:16px;
  height:12px;
  display:flex;
  transition:none;
}
#u5908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:12px;
}
#u5908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5909_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
}
#u5909 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:3px;
  width:30px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
}
#u5909 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5909_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5910 {
  position:fixed;
  left:0px;
  bottom:0px;
}
#u5910_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5910_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 0.4392156862745098);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:49px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5912 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:0px;
  width:330px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
}
#u5912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5912_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5912.mouseDown {
}
#u5912_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:37px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5912.disabled {
}
#u5912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5913 {
  position:absolute;
  left:0px;
  top:64px;
  visibility:hidden;
}
#u5913_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:390px;
  height:44px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5913_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:44px;
  background:inherit;
  background-color:rgba(0, 168, 112, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u5914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u5914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  visibility:hidden;
}
#u5915_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:844px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5915_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border-radius:3px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u5916 {
  border-width:0px;
  position:absolute;
  left:135px;
  top:362px;
  width:120px;
  height:120px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u5916 .text {
  position:absolute;
  align-self:flex-start;
  padding:73px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5917 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:388px;
  width:28px;
  height:28px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u5917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5918 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:left;
}
#u5919 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:250px;
  width:317px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:left;
}
#u5919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5920 {
  position:absolute;
  left:269px;
  top:256px;
}
#u5920_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5920_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5921 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:0px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
}
#u5921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5921_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5921.mouseDown {
}
#u5921_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5921.disabled {
}
#u5921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5920_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5920_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FFFFFF;
}
#u5922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5922_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5922.mouseDown {
}
#u5922_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5922.disabled {
}
#u5922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5923 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:8px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u5923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5924 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  text-align:left;
}
#u5925 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:206px;
  width:317px;
  height:44px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  text-align:left;
}
#u5925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5926 {
  position:absolute;
  left:269px;
  top:212px;
}
#u5926_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5927 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:0px;
  width:60px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#FFFFFF;
}
#u5927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5927_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5927.mouseDown {
}
#u5927_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#FFFFFF;
}
#u5927.disabled {
}
#u5927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5926_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background-image:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u5926_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5928 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:10px;
  color:#FFFFFF;
}
#u5928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 24px;
  box-sizing:border-box;
  width:100%;
}
#u5928_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5928.mouseDown {
}
#u5928_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(236, 242, 254, 1);
  border-radius:16px;
  filter:drop-shadow(none);
  transition:none;
  font-size:10px;
  color:#FFFFFF;
}
#u5928.disabled {
}
#u5928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5929 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:8px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  font-size:14px;
}
#u5929 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u5929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
