body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:390px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5730_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  line-height:26px;
}
#u5730 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:785px;
  width:321px;
  height:52px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  line-height:26px;
}
#u5730 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5730_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5733_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u5733 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:791px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5733_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 82, 217, 1);
  border-radius:2px;
  filter:drop-shadow(none);
  transition:none;
}
#u5733.selected {
}
#u5733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5734 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:796px;
  width:9px;
  height:6px;
  display:flex;
  transition:none;
}
#u5734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5734_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:12px;
  height:9px;
}
#u5734_img.selected {
}
#u5734.selected {
}
#u5734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5735 {
  border-width:0px;
  position:absolute;
  left:174px;
  top:788px;
  width:130px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5736 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:788px;
  width:61px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5737 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:815px;
  width:67px;
  height:19px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5741_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:97px;
  background:inherit;
  background-color:rgba(0, 82, 217, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u5741 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:266px;
  width:370px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5742_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u5742 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:280px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u5742 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5742_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u5743 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:307px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u5743 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5743_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5744_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u5744 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:334px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u5744 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5744_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u5745 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:334px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u5745 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5746_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u5746 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:280px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u5746 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#FFFFFF;
}
#u5747 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:307px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#FFFFFF;
}
#u5747 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5749_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u5749 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:239px;
  width:72px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u5749 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5749_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5750 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:246px;
  width:250px;
  height:1px;
  display:flex;
  transition:none;
}
#u5750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u5750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5753_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u5753 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:403px;
  width:370px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5754 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:417px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5754 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5754_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5755_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5755 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:444px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5755 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5755_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5756_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5756 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:471px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5756 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5756_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5757 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:471px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5757 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#0052D9;
}
#u5758 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:417px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#0052D9;
}
#u5758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5759 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:444px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:97px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u5762 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:513px;
  width:370px;
  height:97px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5763 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:527px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5763_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5764 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:554px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5764_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5765 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:581px;
  width:26px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5765_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5766 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:581px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
  color:#0052D9;
}
#u5767 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:527px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
  color:#0052D9;
}
#u5767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5768 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:554px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5769 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:12px;
  color:#7F7F7F;
}
#u5770 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:376px;
  width:48px;
  height:14px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:12px;
  color:#7F7F7F;
}
#u5770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5770_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5771 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:383px;
  width:250px;
  height:1px;
  display:flex;
  transition:none;
}
#u5771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:2px;
}
#u5771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5772 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:198px;
  width:144px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5772_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:8px;
  filter:drop-shadow(none);
  transition:none;
}
#u5773 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:76px;
  width:370px;
  height:72px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5774 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:26px;
  width:192px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:24px;
}
#u5774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5774_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5775 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:91px;
  width:39px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5775_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5776 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:118px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5777 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:91px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5777 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:13px;
}
#u5778 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:118px;
  width:275px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:13px;
}
#u5778 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#E34D59;
}
#u5779 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:160px;
  width:342px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#E34D59;
}
#u5779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
